@font-face {
	font-family: 'Arimo-Bold';
	src: url('../fonts/Arimo-Bold/Arimo-Bold.eot');
	src: url('../fonts/Arimo-Bold/Arimo-Bold.woff') format('woff'), url('../fonts/Arimo-Bold/Arimo-Bold.ttf') format('truetype'), url('../fonts/Arimo-Bold/Arimo-Bold.svg') format('svg');
}
@font-face {
	font-family: 'ChangaOne';
	src: url('../fonts/ChangaOne/ChangaOne-Regular.eot');
	src: url('../fonts/ChangaOne/ChangaOne-Regular.woff') format('woff'), url('../fonts/ChangaOne/ChangaOne-Regular.ttf') format('truetype'), url('../fonts/ChangaOne/ChangaOne-Regular.svg') format('svg');
}
@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}

@media (min-width: 500px){
	body {
		padding: 20px 0 50px;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	} 

	#header {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}
	
	#header section {
		/* margin: 0px; */
		padding: 0;
		overflow: hidden;
		background-color: rgb(45, 5, 68);
	}
	#header section .logo {
		float: left;
		margin: 0;
		padding: 24px 0 0 10px;
		width: 324px;
	}
	#header section .logo a {
		background-color: darkviolet;	
		color: #fff;
		display: block;
		font-family: 'Arimo-Bold';
		font-size: 60px;
		font-weight: normal;
		height: 130px;
		line-height: 130px;
		padding: 0;
		text-align:center;
		text-decoration: none;
		text-transform: uppercase;
	}

	#header  section ul {
		display: inline-block;
		overflow: hidden;
		padding: 74px 0 0;
	}
	#header section ul li {
		background: url() no-repeat top right;
		display: inline-block;
		list-style: none;
		margin: 0 10px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		padding: 0;
	}
	#header section ul li a {
		background-color: darkviolet;
		color: rgb(255, 255, 255);
		display: inline-block;
		font-size: 16px;
		height: 30px;
		letter-spacing: 0.05em;
		line-height: 30px;
		padding: 0 15px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	#header  section ul li a:hover {
		color: #ccc;
	}

	#header article {
		background: #fff;
		border: 2px solid rgb(45, 5, 68);
		border-radius: 4px;
		margin: 50px auto 28px;
		overflow: hidden;
		padding: 0;
		width: auto;
	}
	#header article img {
		display: block;
		float: left;
		padding: 0;
		padding-left: 40px;
		height: 300px;
	}
	#header article h1 {
		color: #1b2130;
		font-family: 'ChangaOne';
		font-size: 40px;
		font-weight: normal;
		margin: 0;
		line-height: 50px;
		padding: 110px 30px 30px;
		text-align: center;
	}

	form {
		margin-left:auto;
		margin-right:auto;
		max-width: 500px;
		background: #550086;
		padding: 25px 15px 25px 10px;
		font: 12px Georgia, "Times New Roman", Times, serif;
		color: rgb(5, 5, 5);
		text-shadow: 1px 1px 1px rgb(247, 0, 255);
		border:1px solid #4a027a;
	}
	h1 {
		font-size: 25px;
		padding: 0px 0px 10px 40px;
		display: block;
		border-bottom:1px solid #000000;
		margin: -10px -15px 30px -10px;;
		color: rgb(0, 0, 0);
	}
	h1>span {
		display: block;
		font-size: 11px;
	}
	label {
		display: block;
		margin: 0px;
	}
	label>span {
		float: left;
		width: 20%;
		text-align: right;
		padding-right: 10px;
		margin-top: 10px;
		color: rgb(0, 0, 0);
	}
	input[type="text"], input[type="email"], textarea, select {
		border: 1px solid #ff03ff;
		color: rgb(247, 0, 255);
		height: 30px;
		margin-bottom: 16px;
		margin-right: 6px;
		margin-top: 2px;
		outline: 0 none;
		padding: 3px 3px 3px 5px;
		width: 70%;
		font-size: 12px;
		line-height:15px;
		box-shadow: inset 0px 1px 4px #ECECEC;
		-moz-box-shadow: inset 0px 1px 4px #ECECEC;
		-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
	}
	textarea{
		padding: 5px 3px 3px 5px;
	}

	textarea{
		height:100px;
	}
	.button {
		background: #f801f8;
		border: none;
		padding: 10px 25px 10px 25px;
		color: rgb(0, 0, 0);
		box-shadow: 1px 1px 5px #e106e9;
		border-radius: 3px;
		text-shadow: 1px 1px 1px #f700ff;
		cursor: pointer;
	}
	.button:hover {
		background: #ff00ff
	}

	a {
		text-align: center;
		background: #000000;
		border: none;
		padding: 10px 25px 10px 25px;
		color: rgb(0, 0, 0);
		box-shadow: 1px 1px 5px #000000;
		border-radius: 3px;
		text-shadow: 1px 1px 1px #ff00f2;
		cursor: pointer;
	}
	a:hover {
		background: #ff00ff;
	}
	footer {
		background: #39014b;
		border-top: 1px solid #4b0255;
		margin: 0;
		margin-top: 10px;
		padding: 0;
	}
	footer .connect {
		margin: 0 auto;
		padding: 30px 0 28px;
		overflow: hidden;
		text-align: center;
		width: 960px;
	}
	footer .connect p {
		color: #ededed;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 0.05em;
		margin: 0;
		padding: 27px 0 0;
		text-align: center;
	}
	footer .connect a {
		background: #387a82;
		height: 18px;
		margin: 0 20px 0 150px;
		padding: 22px 20px;
		overflow: hidden;
		display: block;
		float: left;
		height: 20px;
		margin: 0 8px;
		padding: 0;
		text-indent: -99999px;
		width: 20px;
	}
	footer .connect #twitter {
		background-position: 0 -32px;

	}
	footer .connect #twitter:hover {
		background-position: -25px -32px;
	}
	footer .connect #facebook {
		background-position: 0 -57px;
	}
	footer .connect #facebook:hover {
		background-position: -25px -57px;
	}
	footer .connect #googleplus {
		background-position: 0 -82px;
	}
	footer .connect #googleplus:hover {
		background-position: -25px -82px;
	}
	footer .connect #pinterest {
		background-position: 0 -107px;
	}
	footer .connect #pinterest:hover {
		background-position: -25px -107px;
	}
}
@media (min-width: 756px) {

	body {
		padding: 20px 0 50px;
		width: 756px;
		margin-left: auto;
		margin-right: auto;
	} 

	#header {
		padding: 0;
		width: 756px;
	}
	
	#header section {
		/* margin: 0px; */
		padding: 0;
		overflow: hidden;
		background-color: rgb(45, 5, 68);
	}
	#header section .logo {
		float: left;
		margin: 0;
		padding: 24px 0 0 10px;
		width: 324px;
	}
	#header section .logo a {
		background-color: darkviolet;	
		color: #fff;
		display: block;
		font-family: 'Arimo-Bold';
		font-size: 60px;
		font-weight: normal;
		height: 130px;
		line-height: 130px;
		padding: 0;
		text-align:center;
		text-decoration: none;
		text-transform: uppercase;
	}

	#header  section ul {
		display: inline-block;
		overflow: hidden;
		padding: 74px 0 0;
	}
	#header section ul li {
		background: url() no-repeat top right;
		display: inline-block;
		list-style: none;
		margin: 0 10px;
		padding: 0;
	}
	#header section ul li a {
		background-color: darkviolet;
		color: rgb(255, 255, 255);
		display: inline-block;
		font-size: 16px;
		height: 30px;
		letter-spacing: 0.05em;
		line-height: 30px;
		padding: 0 15px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	#header  section ul li a:hover {
		color: #ccc;
	}

	#header article {
		background: #fff;
		border: 2px solid rgb(45, 5, 68);
		border-radius: 4px;
		margin: 50px auto 28px;
		overflow: hidden;
		padding: 0;
		width: auto;
	}
	#header article img {
		display: block;
		float: left;
		padding: 0;
		padding-left: 40px;
		height: 300px;
	}
	#header article h1 {
		color: #1b2130;
		font-family: 'ChangaOne';
		font-size: 40px;
		font-weight: normal;
		margin: 0;
		line-height: 50px;
		padding: 110px 30px 30px;
		text-align: center;
	}
	footer {
		background: rgb(45, 5, 68);
		border-top: 1px solid rgb(45, 5, 68);
		margin: 0;
		margin-top: 50px;
		padding: 0;
	}
	footer .connect {
		margin: 0 auto;
		padding: 30px 0 28px;
		overflow: hidden;
		text-align: center;
	}
	footer .connect p {
		color: #ededed;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 0.05em;
		margin: 0;
		padding: 27px 0 0;
		text-align: center;
	}
	footer .connect a {
		background: #7e049c;
		height: 18px;
		margin: 0 20px 0 150px;
		padding: 22px 20px;
		overflow: hidden;
		display: block;
		float: left;
		height: 20px;
		margin: 0 8px;
		padding: 0;
		text-indent: -99999px;
		width: 20px;
	}

	footer .connect #twitter {
		background-position: 0 -32px;
	
	}
	footer .connect #twitter:hover {
		background-position: -25px -32px;
	}
	footer .connect #facebook {
		background-position: 0 -57px;
	}
	footer .connect #facebook:hover {
		background-position: -25px -57px;
	}
	footer .connect #googleplus {
		background-position: 0 -82px;
	}
	footer .connect #googleplus:hover {
		background-position: -25px -82px;
	}
	footer .connect #pinterest {
		background-position: 0 -107px;
	}
	footer .connect #pinterest:hover {
		background-position: -25px -107px;
	 }
	
}
@media (min-width: 1200px),( min-width: 900px){

	body{
		height: auto;
		background: white;
		margin-left: auto;
		margin-right: auto;
		background: #ffffff;
		line-height: 1;
		font-size: 14px;
		font-family: Arial, Helvetica, sans-serif;
		padding: 0;
		width: 1000px;
	}
	
	#header {
		padding: 0;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#header section {
		padding: 0;
		overflow: hidden;
		background-color: rgb(45, 5, 68);
	}
	#header section .logo {
		
		padding: 24px 0 0 10px;
		width: 324px;
	}
	#header section .logo a {
		background-color: darkviolet;	
		color: #fff;
		display: block;
		font-family: 'Arimo-Bold';
		font-size: 60px;
		font-weight: normal;
		height: 130px;
		line-height: 130px;
		margin: 0;
		padding: 0;
		text-align:center;
		text-decoration: none;
		text-transform: uppercase;
		width: 270px;
	}
	#header  section ul {
		display: inline-block;
		margin: 0;
		overflow: hidden;
		padding: 74px 0 0;
	}
	#header section ul li {
		background: url() no-repeat top right;
		display: inline-block;
		list-style: none;
		margin: 0 10px;
		padding: 0;
	}
	#header section ul li a {
		background-color: darkviolet;
		color: rgb(255, 255, 255);
		display: inline-block;
		font-size: 16px;
		height: 30px;
		letter-spacing: 0.05em;
		line-height: 30px;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	#header  section ul li a:hover {
		color: #ccc;
	}
	#header section ul li.selected {
		background: url(./photos/agustin-fernandez-m21YynrKdsw-unsplash.jpg) no-repeat top right;
	}
	#header section ul li.selected a {
		background: url(./photos/agustin-fernandez-m21YynrKdsw-unsplash.jpg) no-repeat top left;
	}
	footer {
		background: rgb(45, 5, 68);
		border-top: 1px solid rgb(45, 5, 68);
		margin: 0;
		margin-top: 50px;
		padding: 0;
	}
	footer .connect {
		margin: 0 auto;
		padding: 30px 0 28px;
		overflow: hidden;
		text-align: center;
		width: 960px;
	}
	footer .connect p {
		color: #ededed;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 0.05em;
		margin: 0;
		padding: 27px 0 0;
		text-align: center;
	}
	footer .connect a {
		background: #7e049c;
		height: 18px;
		margin: 0 20px 0 150px;
		padding: 22px 20px;
		overflow: hidden;
		display: block;
		float: left;
		height: 20px;
		margin: 0 8px;
		padding: 0;
		text-indent: -99999px;
		width: 20px;
	}
	footer .connect #twitter {
		background-position: 0 -32px;
	
	}
	footer .connect #twitter:hover {
		background-position: -25px -32px;
	}
	footer .connect #facebook {
		background-position: 0 -57px;
	}
	footer .connect #facebook:hover {
		background-position: -25px -57px;
	}
	footer .connect #googleplus {
		background-position: 0 -82px;
	}
	footer .connect #googleplus:hover {
		background-position: -25px -82px;
	}
	footer .connect #pinterest {
		background-position: 0 -107px;
	}
	footer .connect #pinterest:hover {
		background-position: -25px -107px;
	 }
	}